/*
**----------------------------
**GENERAL STYLES FOR WHOLE WEBSITE
**----------------------------
*/

*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('../img/woodbg.jpg');
	background-size: cover;
	color: rgba(255,255,255, .8);
	font-size: 100%;

}
.col-xl-6{
	padding: 1.5em;
	padding-bottom: 0.2em;
	}
.screen-one,.screen-two,.screen-three,.screen-four{
	background: rgba(0,0,0,0.8);
}

.col-xl-6.screen-three, .col-xl-6.screen-four{
	padding: 0.5em;
	padding-bottom: 1.3em;
}


/*
**----------------------------
**SCREEN 1
**----------------------------
*/
h1{
	text-align: center;
	margin-top: 0.1em;
	margin-bottom:0;
	color: rgba(255,255,255, .8);
	font-size: 4.5em;
}
h4{
	font-size: 2em;
	margin-bottom: 0.6em;
}

.logotsystems{
	width: 42%;
} 

.currentoffers{
	color: #e20074 !important;
	font-weight: bold;
}
.currentoffers > span{
	color: #e20074 !important;
}


/*
**------------------------------------
**SCREEN 2 - TABLE OF OFFERS T-SYSTEMS
**------------------------------------
*/

.first{
	font-size: 1.5em;
	color:#e20074 !important;
}
.first-row th{
	padding: 0.5em;
	margin:0;
	font-weight: normal;
	
}

thead{
	background: #E20074;
}
thead th{
	font-size: 2em;
}
.table-dark{
	background: rgba(0,0,0,0.5);
}
tbody td{
	font-size: 1.5em;
	color: rgba(255,255,255, .8);
}
td.salary
{
padding-right: 111px;
}

 thead th:last-child{
	width: 200px;	
}
thead th:nth-child(2){
	width: 200px;
	
} 

/*
**----------------------------
**        SCREEN 3 and 4 
**----------------------------
*/

.card{
	background: transparent;
	height: 38em;
	overflow: hidden;
}

.card-body {
    padding-top: 1.25rem;
}
.card-header {
	border-bottom: 1px solid #e20074;
	font-size: 0.7em;
	padding: .30rem 0.8rem;
}
/* .card-body > p:nth-child(11){
	display: none;
} */
.card-body  p,li{
	font-size: 1.7em;
	line-height: 1.6;
	
}
.card-body p,ul,li{
	margin: 0;
}

.text-job-description{
	height: 10.375em;
	overflow:hidden; 
}

b{
	color: #e20074;
	font-weight: normal;
}
h2{
	font-size: 2em;}
h3 strong{
	color: #e20074;
}

p>strong{
	color: #e20074;
}

.title {
	color: #e20074;
	font-size: 1.5em;
}

h2{
	text-transform: uppercase;
	color: #e20074 !important;
	font-weight: bold;
	margin-left: 0.5em;
}
h3{
	background: #e20074;
	padding: 0.6em;
	font-size: 2em;
	color: rgba(255,255,255, .8);
}
.qr-code-img{
	width: 13em;
	margin-left: 9em;
    margin-top: 1em;
    opacity: .8;
}

.qrInfo{
	position: relative;
	left: 9em;
	top: 16.5em;
}

/* section:nth-child(5) > div > div > div:nth-child(1) > div > p:nth-child(7),
section:nth-child(6) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(7) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(9) > div > div > div:nth-child(1) > div > p:nth-child(1), 
section:nth-child(9) > div > div > div:nth-child(1) > div > p:nth-child(5),
section:nth-child(10) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(10) > div > div > div:nth-child(1) > div > p:nth-child(1),
section:nth-child(13) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(13) > div > div > div:nth-child(1) > div > p:nth-child(5),
section:nth-child(22) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(23) > div > div > div:nth-child(1) > div > p:nth-child(3),
section:nth-child(5) > div > div > div:nth-child(1) > div > p:nth-child(7)
{
	color: #e20074;
} */

.qrsection{
	margin-left: -3em;
	margin-top: 1em;
}
strong{
	font-weight: normal;
}

div > strong{
	flex: 0 0 50%;
    max-width: 50%;
}
body > div:nth-child(2) > div > section:nth-child(14) > div > div > strong > div{
	flex: 0 0 100%;
    max-width: 100%;
}
.format-date{
	text-transform: uppercase;
}
  .screens{
	position: absolute;
}
.screen-three{
left: 0;
}
.screen-four{
right: 0;
}  

/*
**----------------------------
**      MEDIA QUERIES - DISPLAY 3 x 3
**----------------------------
*/
@media  (max-width: 2500px){
	
	.screen-one{
		width: 100%;
	}
	
	
	.small-screen{
	display: none;}
	
}

@media (min-width: 2600px){
	body{
	font-size: 190%;
	}
	
	thead th:last-child{
		width: 300px;	
	}
	thead th:nth-child(2){
		width: 300px;
		
	}
}

/*
**----------------------------
**      BENEFITS
**----------------------------
*/
.container-fluid {
	padding: 0.5em;
}
.benefits {
	background: rgba(0,0,0,0.8);
}
.benefits h4 {
	color: #e20074;
}

.benefit .icon {
    display: block;
    float: left;
    max-width: 5em;
    width: 30%;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 0.1875em solid #e20074;
    padding: 0.9375em;
    text-align: center;
    height: 5em;
    line-height: 2.5em;
}
.benefits p {
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    display: block;
    float: left;
    margin-top: 0.125em;
    padding-left: 0.9375em;
    width: 70%;
    text-align: left;
}
.benefits h5 {
    color: #e20074;
    font-family: 'Roboto',sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.875em;
    display: block;
    float: left;
    margin-top: 0.125em;
    padding-left: 0.9375em;
    width: 70%;
    margin-bottom: 0em;
    text-align: left;
}
.build {
	width: 65.625em;
}
.benefit {
	padding: 1.1em 0em 1.1em 1em
}
.grey {
 	background: rgba(255,255,255,0.1);
 }






