*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('/img/bgpage.png');
	background-size: cover;
	padding-bottom: 2em;
}
th, td{
	text-align: left;
	padding: 1em;
}
h1,h3 {
	color: #ED008C;
}
.grid-divider > [class*="col-"]:nth-child(n + 2):after {
  content: "";
  background-color: #ED008C;
  position: absolute;
  top: 0;
  bottom: 0;
}