*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('/img/bgpage.png');
	background-size: cover;
	padding-bottom: 2em;
}
th, td{
	text-align: left;
	padding: 1em;
}
h1,h3 {
	color: #ED008C;
}
.card-header {
	border-bottom: 1px solid #ED008C;
}