
img{
	width: 15em;

}

.smallLogo{
	position: fixed;
	right:0em;
}
.box{
	padding-left:3em;
	background: #b6b6b6;
}
.mt-4{
	padding-left: 4em;

    margin: 3em;
}

.specialRow{
	background-color: #aeaeae;
}
.titleBox{
	background-color: #aeaeae;
}

.first{
	width: 40%;
	font-size: 0.8em;
	color:#ED008C;
}

th{
	font-size: 0.8em;
}


