*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('/img/bgpage.png');
	background-size: cover;
	padding-bottom: 2em;
}
h1,h3 {
	color: #ED008C;
}
.card-header {
	border-bottom: 1px solid #ED008C;
}

.title {
	list-style: none;
	text-align: center;
	font-size: 2.5em;
	color: #ED008C;
}