* {
	padding: 0.5em;
	padding-bottom: 0.5em;
}

}
.cm-media cm-media--responsive a-image {
	align-left: 3em;
}

.tsystem {
	color: white !important;
	size: 2em;
	/* color: #e20074 !important ;*/
}

/* .description {
	background-color: #e20074;
} */
.row {
	padding-bottom: 0.5em;
	background: rgba(0, 0, 0, 0.8);
	margin-bottom: .7em;
}

.rowDark {
	margin-bottom: .7em;
	background: rgba(255, 255, 255, 0.1);
}

.magenta {
	color: #e20074 !important;
}

.description {
	background: rgba(0, 0, 0, 0.8);
	padding-bottom: .5em;
	margin-bottom: .7em;
	margin-top: .7em;
	line-height: 1.4;
}

.third-picture {
	padding-top: 2em;
}

.logotsystems {
	padding-bottom: 2em;
}

.a-headline{
	margin-bottom: .7em;
	
	
}

