/*
**----------------------------
**GENERAL STYLES FOR WHOLE WEBSITE
**----------------------------
*/

*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('../img/woodbg.jpg');
	background-size: cover;
	overflow: hidden;
}
section{
	padding: 0.1em;
}
.col-6{
	padding: 0.2em;
}
.screen-one,.screen-two,.screen-three,.screen-four{
	background: rgba(0,0,0,0.5);
}

/*
**----------------------------
**SCREEN 1
**----------------------------
*/
h1{
	text-align: center;
	margin-top: 0.1em;
	margin-bottom:0;
	color: white;
	font-size: 4.5em;
}
h4{
	font-size: 2em;
	margin-bottom: 0.6em;
}

.logotsystems{
	width: 42%;
} 

.currentoffers{
	color: #e20074;
	font-weight: bold;
}

/*
**------------------------------------
**SCREEN 2 - TABLE OF OFFERS T-SYSTEMS
**------------------------------------
*/

.first{
	font-size: 1.5em;
	color:#e20074;
}
.first-row th{
	padding: 0.5em;
	margin:0;
	
}
thead{
	background: #E20074;
}
thead th{
	color: white;
	font-size: 2em;
}
.table-dark{
	background: rgba(0,0,0,0.5);
}
tbody td{
	font-size: 1.5em;
}
thead th:last-child{
	width: 161px;
	text-align: center;
}
thead th:nth-child(2){
	width: 320px;
}

/*
**----------------------------
**        SCREEN 3 and 4 
**----------------------------
*/

.card{
	background: transparent;
	height: 623px;
	overflow: hidden;
}
.card-header {
	border-bottom: 1px solid #e20074;
	font-size: 0.7em;
	padding: .30rem 0.8rem;
}
.card-body > p:nth-child(11){
	display: none;
}
.card-body  p,li{
	font-size: 1.7em;
	line-height: 1.6;
	
}
.card-body p,ul,li{
	margin: 0;
}
h3 strong{
	color: #e20074;
}
p,li{
	color: white;
}
.title {
	color: #e20074;
	font-size: 1.5em;
}
h2{
	text-transform: uppercase;
	color: #e20074;
	font-weight: bold;
}
h3{
	background: #e20074;
	padding: 0.6em;
	font-size: 2em;
}
.qr-code-img{
	width: 7em;
	margin-left: 14em;
    margin-top: 1em;
}
p>strong{
	color: #e20074;
	font-size: 2em;
}

strong{
	font-weight: normal;
}

div > strong{
	flex: 0 0 50%;
    max-width: 50%;
}
body > div:nth-child(2) > div > section:nth-child(14) > div > div > strong > div{
	flex: 0 0 100%;
    max-width: 100%;
}
.screens{
	position: absolute;
}
.screen-three{
left: 0;
}
.screen-four{
right: 0;
} 

