
*{
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('../img/woodbg.jpg');
	background-size: cover;
	outline: 1px solid white;
	height: 1200px;
}
.content h3{
	margin-bottom: 2.7em;
	text-align: center;
	color: white;
}
section{
	padding: 0.1em;
}
.logotsystems{
	width: 10em;
}
h1{
	text-align: center;
	margin-top: 0.1em;
	margin-bottom:0;
	color: white;
}
.global-footer{
	
	background: black;
}
.global-footer p{
	margin-top: 0.6em;
	margin-bottom: 0;
}
.col-6{
	padding: 0.2em;
}
.card-body > p:nth-child(11){
	display: none;
}
.card.body {
	padding: 1rem;
}

.content{
	margin: 0 auto;
}
.card{
	background: rgba(0,0,0,0.5);
	border: 1px solid #e20074;
}
.card-header {
	border-bottom: 1px solid #e20074;
	font-size: 0.7em;
	padding: .30rem 0.8rem;
}
h3 strong{
	color: #e20074;
}
 .offset-1 {
    margin-left: 1.333333%;
}
p,li{
	color: white;
}
/*pridane*/

.select-requirements > *:nth-child(n+8) {
	display:none;
}
.select-jobdescription li:nth-child(n+3){
	display:none;
}
.title {
	color: #e20074;
	font-size: 1.5em;
}

aside{
	background: black;
	padding:0.2em;
}
.qr-code-image{
	width: 6em;
	display: inline-block;
}







