<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>About Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/styleabout.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />



</head>
<body>

	<img class="mt-2 logotsystems" th:src="@{/img/t-systemslogo.svg}"
		alt="Logo T-Systems" />
	<h3 class="a-headline">About us</h3>
	<h4 class="description">T-Systems Slovakia was established in
		Slovakia in 2006. The company has used the last decade to grow from
		nothing to the second-largest IT company in Slovakia and the
		second-largest employer in the east of the country. T-Systems Slovakia
		had 3,850 employees in Košice at the end of 2016, which makes it the
		second-largest shared service center in Slovakia and one of the top
		fifteen largest employers in Slovakia.</h4>
	<div class="o-teaser-collection o-teaser-collection-s">
		<h3 class="a-headline">Why T-Systems?</h3>

		<section class="container-fluid">
			<div class="row rowDark">
				<div class="col-6">
					<img
						src="https://www.t-systems.com/resource/image/10608/ratio3x2/512/341/c2593a4c794eb0bfdb956172b9b1bb2c/wu/im-careers-professionals-t-systems-teaserbild.jpg"
						alt="I will not stop, until my experience helps the whole society."
						title="Karriere für Professionals" class="w-100">
				</div>
				<div class="col-6">
					<h4>
						The <span class="magenta">most trustworthy </span>partner in
						information and communication technologies.
					</h4>
				</div>
			</div>
		</section>
		<section class="container-fluid">
			<div class="row">
				<div class="col-6">
					<h4 class="a-headline">
						Numerous areas and different levels of competencies and
						responsibilities. You’ll always be in contact with the <span
							class="magenta">latest technologies</span>, methods and
						practices. And every position has opportunities for <span
							class="magenta">personal and professional growth.</span>
					</h4>
				</div>
				<div class="col-6">
					<img
						src="https://www.t-systems.com/resource/image/10612/ratio3x2/512/341/ef89387ba703845593756015753ba643/qo/im-careers-students-graduates-t-systems-teaserbild.jpg"
						alt="I will not stop, until the start of work life is the beginning of something meaningful."
						title="Karriere für Studenten und Absolventen" class="w-100">
				</div>
			</div>
		</section>
		<section class="container-fluid">
			<div class="row rowDark">
				<div class="col-6">
					<img
						src="https://www.t-systems.com/resource/image/10616/ratio3x2/512/341/15c9f299f52775fb9264505558920257/Sc/im-careers-pupils-t-systems-teaserbild.jpg"
						alt="I will not stop, until my good grades improve the lifes of everybody."
						title="Karriere für Schüler" class="third-picture w-100">
				</div>

				<div class="col-6">
					<h4 class="a-headline">
						The <span class="magenta">perfect balance</span> of professional
						and private life. It's not always easy to balance your
						professional and private life. This is why <span class="magenta">we
							support you </span>with modern work models that give you the freedom to
						plan your life and ensure you can concentrate on your work.
					</h4>
				</div>
			</div>
		</section>

	</div>





	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/slider.js}"></script>
	<script th:src="@{/js/date.js}"></script>
	<script th:src="@{/js/data.js}"></script>
</body>
</html>
