<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Benefits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/benefits.css}"/>
</head>
<body>
<div class="container-fluid benefits">
<img class="mt-2 logotsystems" th:src="@{/img/t-systemslogo.svg}" alt="Logo T-Systems" />
<h3 class="mb-4">Work benefits. A phrase you are going to come to love!</h3>
<h4 class="mb-4">It's not just about the money... Join in and get a range of attractive employer contributions, because your career matters to us!</h4>

<div class = "row">
	<div class = "col-6 benefit grey">
		<div class = "icon">
		<img th:src="@{/img/benefits/homeoffice.svg}"/>
		</div>
		<h5>Home office</h5>
		<p>Would you like to work from your living room rather than coming in to the office? Turn your dream into a reality. Home office may be a given for you, join us.</p>
		</div>
<div class = "col-6 benefit">
	<div class = "icon">
	<img th:src="@{/img/benefits/hours.svg}"/>
	</div>
	<h5>Flexible working hours</h5>
	<p>You’ll come into work every day at T-Systems Slovakia with a smile on your face because we understand your needs.</p>
	</div>
</div>


<div class = "row">
	<div class = "col-6 benefit">
		<div class = "icon">
		<img th:src="@{/img/benefits/education.svg}"/>
		</div>
		<h5>Education</h5>
		<p>Discover new horizons during training involving various technologies. Learn from the best. Education and development using different methods and resources, it's all waiting for you...</p>
		</div>
	
<div class = "col-6 benefit grey">
	<div class = "icon">
	<img th:src="@{/img/benefits/language.svg}"/>
	</div>
	<h5>Language instruction</h5>
	<p>Working in an international company gives you the opportunity to hone your language skills. Push your language boundaries. Keep taking and we’ll help you improve.</p>
	</div>
</div>


<div class = "row">
	<div class = "col-6 benefit grey">
		<div class = "icon">
		<img th:src="@{/img/benefits/events.svg}"/>
		</div>
		<h5>Corporate events</h5>
		<p>Experience the unique atmosphere of our events. Eat up the team spirit at T-Systems Slovakia for yourself and the humour, dance and joy of people who have magenta in their blood.</p>
	</div>
<div class = "col-6 benefit ">
	<div class = "icon">
	<img th:src="@{/img/benefits/cafeteria.svg}"/>
	</div>
	<h5>Cafeteria</h5>
	<p>Our high standard benefits system leaves the decision making up to you if you want to use your benefits on vacation, your health, sports...</p>
</div>
</div>

<div class = "row">
	<div class = "col-6 benefit ">
		<div class = "icon">
	<img th:src="@{/img/benefits/opportunities.svg}"/>
	</div>
	<h5>Opportunities to grow</h5>
	<p>Nowhere else is it as simple to grow as with us. Make your job your hobby. Push yourself farther and use your talents to the best of your ability. See just how it feels to be with the best.</p>
	</div>
<div class = "col-6 benefit grey">
	<div class = "icon check">
	<img th:src="@{/img/benefits/icons8-checkmark.svg}"/>
	</div>
	<h5>Work-life balance</h5>
	<p>We support you with modern work models that give you the freedom to plan your life and ensure you can concentrate on your work with a clear conscience.</p>
</div>
</div>


<!-- <div class = "row">
<div class = "col-12">
<img class = "w-100"  th:src="@{/img/benefits/tsys.jpg}"/>
</div> -->
</div>
</body>
</html>