<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/positionList.css}" />
    
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<section class="col-6 screen-one">
			
			<div class="content">
		
			<img class="mt-2 logotsystems w-50" th:src="@{/img/t-systemslogo.svg}" alt="Logo T-Systems" />
			<h1 class="text-white text-center">Looking for a job ? </h1>
			<h4  class="text-white text-center">Everyone has an opportunity with us. Today <span th:text="${@mainController.countOffers}"></span> offers for you</h4>
			
			</div>
			<div class="content">
			<div id="carouselControls" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			    
			    <img th:src="@{/img/TechnicalPosition.png}" class="w-100" alt="Technical Position" />
			    </div>
			    <div class="carousel-item">
			    <img th:src="@{/img/ProcessPosition.png}" class=" w-100" alt="ProcessPosition" />
			   
			    </div>
			    <div class="carousel-item">
			     <img th:src="@{/img/ProjectPosition.png}" class=" w-100" alt="ProjectPosition" />
			      
			    </div>
			    <div class="carousel-item">
			    	<img th:src="@{/img/OtherPosition.png}" class=" w-100" alt="OtherPosition" />
			      
			    </div>
			  </div>
			</div>
			</div>
			</section>
			<img class="mt-4 smallLogo" th:src="@{/img/t-systemslogo.svg}"
			alt="Logo T-Systems" />
			
			<section class="col-6 screen-two">
				<table class="table table-striped table-dark">
					<thead>
						<tr class="first-row">
							<th>Job title</th>
							<th>Contract type</th>
							<th>Posted</th>
						</tr>
					</thead>
			<tbody>
				<tr class="positionRow" th:each="position : ${@mainController.positionList}">
					<td class="first" th:text="${position.positionTitle}"></td>
					<td><span th:text="${position.employmentType}"></span></td>
					<td><span class="format-date" th:text="${position.publicationStartDate}"></span></td>
				</tr>
			</tbody>
		</table>
			</section>
		</div>
</div>
<div class="container-fluid">
		<div class="row">
			<section class="col-6 screen-three">
				<h3 th:each="position : ${@mainController.all}" ><strong class="text-white" th:text="${position.positionTitle}"></strong></h3>
				<div class="container-fluid">
				<div class="row select-jobdescription">
					<div class="card text-white mb-3 col-6">
						<div class="card-body" th:each="position : ${@mainController.all}">
							<p class="card-text"><span th:utext="${position.jobDescription}"></span></p>  
						</div>
					</div>	
					 <div class="card text-white mb-3 col-6">
					 <img class="bg-light qr-code-img" th:src="@{/img/qrcode.png}" alt="qrcode"  />
							<div class="card-body select-requirements" th:each="position : ${@mainController.all}">
							<p class="card-text"><span th:utext="${position.requirementDescription}"></span></p>
						</div> 
					</div>
				</div>
				</div>
			</section>
			
			<section class="col-6 screen-four">
				<h3 th:each="position : ${@mainController.all}" ><strong class="text-white" th:text="${position.positionTitle}"></strong></h3>
			<div class="container-fluid">
				<div class="row select-jobdescription">
					<div class="card text-white mb-3 col-6">
						<div class="card-body" th:each="position : ${@mainController.all}">
							<p class="card-text"><span th:utext="${position.jobDescription}"></span></p>  
						</div>
					</div>	
					 <div class="card text-white mb-3 col-6">
					 <img class="bg-light qr-code-img" th:src="@{/img/qrcode.png}" alt="qrcode"  />
						<!--<div class="card-header">
							<span th:each="qrCode: ${@mainController.qrCodes}">
										<span th:utext="${qrCode}"></span>
									</span>
							</div>  -->
							<div class="card-body select-requirements" th:each="position : ${@mainController.all}">
							<p class="card-text"><span th:utext="${position.requirementDescription}"></span></p>
						</div> 
					</div>
				</div>
				</div>
			</section>
		</div>
		</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>
